L0/*
lectures/L1/.ipynb_checkpoints/*
lectures/L2/.ipynb_checkpoints/*
lectures/L3/.ipynb_checkpoints/*
lectures/L4/.ipynb_checkpoints/*
lectures/L5/.ipynb_checkpoints/*
lectures/L6/.ipynb_checkpoints/*
